



<div class="col" >
    <br>
    <br>
    <br>
    <div class="alert alert-warning alert-dismissible fade show text-center" role="alert">
        <strong>Bonjour cher client!</strong> .Vous ne pouvez acceder à la plateform en ce moment car, nous sommes encore en phase de développement. Elle sera accessible bientot. 
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
</div>
