<div class="col-6" style="padding: 0%;">
<div class="parent">
    <img [src]="url" alt="" width="400" height="400">
    <div class="artcanvas">
      <canvas id="artcanvas"  width="600" height="600" style="border: dashed 1px black;"></canvas>  
    </div>
    <div class="innerCanvas">
      <canvas id="innerCanvas" width="250" height="300"  style="border: dashed 1px black;"></canvas>  
    </div>
  </div>

</div>